@model IEnumerable<PresentationLayer.Models.DashboardUserListItemViewModel>
@{
    ViewData["Title"] = "Dashboard Page";
}
<h1>Dashboard</h1>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Users
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>UserType</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.UserType</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>